<div style="font-size: 50px; color: white;" class="background-container">
    ABOUT US
  </div>
  <div class="overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="w-100" src="assets/images/about-img-1.jpg" alt="" srcset="">
            </div>
            <div class="col-md-6">
                <div class="my-3">
                    <button class="btn btn-dark  text-white">ABOUT US</button>
                    <button class="btn btn-dark mx-2 text-white">SERVICES</button>
                    <button class="btn btn-dark text-white">HISTORY</button>
    

                </div>
               
                <P class="text-black-50">
                    Vestibulum ultricies aliquam convallis. Maecenas ut tellus mi. Proin tincidunt, lectus eu volutpat <br> mattis, ante metus lacinia tellus, vitae condimentum nulla enim bibendum nibh. Praesent turpis <br> risus, interdum nec venenatis id, pretium sit amet purus. Interdum et malesuada fames ac ante <br> ipsum primis in faucibus.  Aliquam eu lorem nibh. Mauris ex dolor, rutrum in odio vel, suscipit <br> ultrices nunc. Cras ipsum dolor, eleifend et nisl vel, tempor molestie nibh.
                </P>
               <a class="text-black-50 text-decoration-none " href="">learn more </a> <span class="fas fa-arrow-right"></span>
            </div>
        </div>
    </div>
  </div>