<section class=" my-2">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body  p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                    <h2 class="bg-danger">error</h2>
                  <form class="mx-1 mx-md-4" [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input formControlName="name"  type="text" id="name" class="form-control" />
                        <label class="form-label" for="name">Your Name</label>
                        <div *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched">
                            <p class="alert alert-dark">name is required and min length 3 charcters</p>
                        </div>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input id="text"  type="email" formControlName="uemail" class="form-control" />
                        <label class="form-label" for="text">Your Email</label>
                        <div *ngIf="registerForm.get('uemail')?.errors && registerForm.get('uemail')?.touched">
                            <p class="alert alert-dark">enter valid email</p>
                        </div>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input formControlName="password"  type="password" id="passsword" class="form-control" />
                        <label class="form-label" for="passsword">Password</label>
                        <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
                            <p class="alert alert-dark">password is required</p>
                        </div>
                      </div>
                    </div>
  
               
                    
                    <input formControlName="role" readonly hidden type="text"  class="form-control" />

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button [disabled]="registerForm.invalid" class="btn btn-primary btn-lg" >Register</button>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
