<div class="w-100 my-5">
    <footer
        class="text-center text-lg-start text-white"
        style="background-color: #000000" >
        <div class="container-fluid p-4 pb-0">
            <hr class="my-3 text-white">
            <br>
            <br>
            <section >
                <div class="row">
                    <div class="col-md-12 col-lg-3 col-xl-2 mx-auto mt-3">
                        <h6
                            class="text-uppercase mb-4 fw-bold fs-6 text-white">Customer
                            Service</h6>
                        <p>
                            <a class="text-white text-decoration-none text-white-50" style="cursor: pointer;">Help & Contact Us</a>
                        </p>
                        <p>
                            <a class="text-white text-decoration-none text-white-50" style="cursor: pointer;">Returns & Refunds</a>
                        </p>
                        <p>
                            <a class="text-white text-decoration-none text-white-50" style="cursor: pointer;">Online Stores</a>
                        </p>
                        <p>
                            <a class="text-white text-decoration-none text-white-50" style="cursor: pointer;">Terms & Conditions</a>
                        </p>
                    </div>

                    <hr class="w-100 clearfix d-md-none text-white" />
                    <div class="col-md-12 col-lg-3 col-xl-2 mx-auto mt-3">
                        <h6
                            class="text-uppercase mb-4 fw-bold fs-6 text-white">Company</h6>
                        <p>
                            <a class="text-white text-decoration-none text-white-50" style="cursor: pointer;">What We Do</a>
                        </p>
                        <p>
                            <a class="text-white text-decoration-none text-white-50" style="cursor: pointer;">Available Services</a>
                        </p>
                        <p>
                            <a class="text-white text-decoration-none text-white-50" style="cursor: pointer;">Latest Posts</a>
                        </p>
                        <p>
                            <a class="text-white text-decoration-none text-white-50" style="cursor: pointer;">FAQs</a>
                        </p>
                    </div>

                    <hr class="w-100 clearfix d-md-none text-white" />

                    <div class="col-md-12 col-lg-3 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 fw-bold text-white">
                            Social Media
                        </h6>
                        <p>
                            <a class="text-white text-decoration-none text-white-50" style="cursor: pointer;">Twitter</a>
                        </p>
                        <p>
                            <a class="text-white text-decoration-none text-white-50" style="cursor: pointer;">Instagram</a>
                        </p>
                        <p>
                            <a class="text-white text-decoration-none text-white-50" style="cursor: pointer;">Tumbir</a>
                        </p>
                        <p>
                            <a class="text-white text-decoration-none text-white-50" style="cursor: pointer;">pinterist</a>
                        </p>
                    </div>
                    <hr class="w-100 clearfix d-md-none" />
                    <div class="col-md-12 col-lg-3 col-xl-2 mx-auto mt-3">
                        <h6
                            class="text-uppercase mb-4 fw-bold fs-6 text-white">Profile</h6>
                            <p>
                                <a class="text-white text-decoration-none text-white-50" style="cursor: pointer;">My Account</a>
                            </p>
                            <p>
                                <a class="text-white text-decoration-none text-white-50" style="cursor: pointer;">Checkout</a>
                            </p>
                            <p>
                                <a class="text-white text-decoration-none text-white-50" style="cursor: pointer;">Order Tracking</a>
                            </p>
                            <p>
                                <a class="text-white text-decoration-none text-white-50" style="cursor: pointer;">Help & Support</a>
                            </p>
                    </div>
                </div>
            </section>
            <br>
            <br>
            <br>

            <hr class="my-3 text-white">

            <section class="p-3 pt-0 container-fluid">
                <div class="row d-flex align-items-center">
                    <div class="col-md-7 col-sm-12 text-center text-md-start">
                        <div class="p-3 text-white-50">
                            © 2024 Qode Interactive, All Rights Reserved
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 text-center text-md-end text-white-50">
                            Follow Us: 
                        <a
                        class="text-white-50 me-2"
                        role="button"><i class="fab fa-twitter"></i></a>
                            
                          <a
                            class="text-white-50 me-2"
                            role="button"><i class="fab fa-instagram"></i></a>

                            <a
                                class="text-white-50"
                                role="button"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </section>
        </div>
    </footer>
</div>
