<div class="header-background">
    <h2 class="text-center text-white py-3">Update Product with id :00</h2>
</div>

<div class="container mt-3">
    <!-- <form> -->
    <div class="row">
        <!-- <div class="col-md-12">
                <div class="form-group m-4">
                    <label for="name" class="mb-2">ID:</label>
                    <input type="text" class="form-control none-select " value="id  of  product" placeholder="Enter student name"  aria-label="Disabled input example" disabled>
                </div>
            </div> -->
        <div class="col-md-6 col-sm-12">
            <div data-mdb-input-init class="form-outline">
                <label class="form-label fw-bold" for="Title">Title</label>
                <input type="text" id="Title" class="form-control"
                    placeholder="Title" #title />
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div data-mdb-input-init class="form-outline">
                <label class="form-label fw-bold" for="form6Example2">Sup
                    Title</label>
                <input type="text" id="form6Example2"
                    class="form-control bg-white"
                    placeholder="Sup Title" #supTitle />
            </div>
        </div>

        <div data-mdb-input-init class="form-outline mt-3 mb-4 col-md-4">
            <label class="form-label fw-bold" for>Categoury</label>
            <select class="form-select" aria-label="Default select example"
                #category>
                <option selected disabled hidden>Category</option>
                <option value="chair">Chair</option>
                <option value="lighting">Lighting</option>
                <option value="table">Tables</option>
                <option value="vase">Vase</option>
                <option value="clock">Clock</option>
                <option value="others">Others</option>
            </select>
        </div>

        <div class="form-outline my-3 col-md-8 ">
            <label class="form-label fw-bold" for="tags">Tags</label>
            <ng-select
                [items]="tags"
                [multiple]="true"
                bindLabel="name"
                (change)="onTagsChange($event)"
                class="form-control"></ng-select>

        </div>

        <div data-mdb-input-init class="form-outline mb-4 col-md-12">
            <label class="form-label fw-bold d-block "
                for="dimention">Dimentions</label>
            <select
                class="rounded col-md-6 col-sm-12 p-2 border-1 focus-ring"
                aria-label="Default select example" #height>
                <option selected disabled hidden>height</option>
                <option value="1">1 cm</option>
                <option value="2">2 cm</option>
                <option value="3">3 cm</option>
                <option value="4">4 cm</option>
                <option value="6">6 cm</option>
                <option value="8">8 cm</option>
                <option value="9">9 cm</option>
                <option value="10">10 cm</option>
            </select>

            <select
                class="rounded  p-2 col-md-6 col-sm-12 border-1 focus-ring"
                aria-label="Default select example" #width>
                <option selected disabled hidden>width</option>
                <option value="1">1 cm</option>
                <option value="2">2 cm</option>
                <option value="3">3 cm</option>
                <option value="4">4 cm</option>
                <option value="6">6 cm</option>
                <option value="8">8 cm</option>
                <option value="9">9 cm</option>
                <option value="10">10 cm</option>
            </select>
        </div>

        <div data-mdb-input-init class="form-outline mb-4 col-md-8">
            <label class="form-label fw-bold" for>Stocked</label>
            <select class="form-select" aria-label="Default select example"
                #stock>
                <option selected disabled hidden>Stocked</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>

        <div data-mdb-input-init class="form-outline mb-4 col-md-4">
            <label class="form-label fw-bold" for="price">Price</label>
            <input type="number" id="price" class="form-control"
                placeholder="price" #price />
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label fw-bold" for="img_url">img_url</label>
            <input type="text" id="img_url" class="form-control"
                placeholder="img_url" #imgUrl />
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label fw-bold" for="review">Review</label>
            <input type="text" id="review" class="form-control"
                placeholder="Write your review here ..." #review />
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label fw-bold"
                for="description">description</label>
            <textarea class="form-control" id="description"
                placeholder="Write your description here ..."
                rows="1" #description></textarea>
        </div>

        <div class="col-md-6 sol-sm-12">
            <button data-mdb-ripple-init type="button"
                class="btn btn-outline-success btn-block mb-3 p-2 w-100 mt-3 "
                (click)="updateProduct(title.value, supTitle.value, category.value, height.value, width.value, stock.value, price.value, imgUrl.value, review.value, description.value)">Update
                Product</button>
        </div>

        <div class="col-md-6 col-sm-12">
            <button data-mdb-ripple-init type="button"
                class="btn btn-outline-danger btn-block mb-1 p-2 w-100 mt-3 "
                (click)="deleteProduct()">Delete
                Product</button>
        </div>
    </div>

    <!-- </form> -->
</div>